<div id="header_wrap" class="outer">
    <header class="inner">

      <h1 id="project_title">{{ site.title | default: site.github.repository_name }}</h1>
      <h2 id="project_tagline">{{ site.description | default: site.github.project_tagline }}</h2>

      <!-- <section id="downloads" class="collections clearfix">
          {% for collection in site.collections %}
          {% if collection.title %}
          <a href="{{ collection.label | absolute_url }}">{{ collection.title }}</a>
          {% endif %}
          {% endfor %}
      </section> -->
  </header>
</div>
